body {
  margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

.App-header {
  background-color: #A92C20;
  height: 60px;
  padding: 20px;
  color: white;
}

.logo-container {
  margin-left: 30vw;
  margin-right: 40vw;
  padding-top: 8px;
}

#logo {
  width: 55px;
}

#logo-text {
  font-family: 'Open Sans';
  font-size: 30px;
  margin-left: 10px;
  position: relative;
  bottom: 15px;
}

.logo-container * {
  display: inline-block;
}


/*-------------ShelfA-------------*/


.shelfa_header {
  background-color: #D1483B;
  height: 60px;
  padding: 20px;
  color: white;
}

#shelfa_logo {
  background-color: #A92C20;
  height: 60px;
  width: 5vw;

}


.shelfa_bins_container {

  margin: auto 0;


}

 .shelfa_bin {
  background-color: #FFB8Af;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 3px;
 
 }



